NEXT_PUBLIC_SUPABASE_URL=https://iwmeafpytquhpdjzwqhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3bWVhZnB5dHF1aHBkanp3cWhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NjExNTEsImV4cCI6MjA5MDAzNzE1MX0.ey_3yj_CJYumnDsay_LpArfZHLbjFNJ7VGj7wSEF_uU
